html{
    margin-left: 20px;
    background: rgb(193, 213, 219);
  }

.calculadora{
    top: 10%;
    left: 10%;
}
.calculadora h1{
    padding-left: 20px;
}

.categorias{
    visibility: hidden;
}

.respuesta{
    visibility: visible;
}